<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<title>Frosti</title>

<div class="logo">
    <h3><pre>
      __________  ____  ____________
      / ____/ __ \/ __ \/ ___/_  __(_)
    / /_  / /_/ / / / /\__ \ / / / /
  / __/ / _, _/ /_/ /___/ // / / /
/_/   /_/ |_|\____//____//_/ /_/
   </pre>
</h3>
</div>

<span class="center">
     <p>
     <table border="0" cellpadding="0" cellspacing="0">
<tr>
<td><a class="navbar" href="/"><strong>Home</strong></a></td>
<td><a class="navbar" href="page2"><strong>Page 2</strong></a></td>
</tr>

</table>



     </p>
   </span>

<div class="center-justified">
    <h2>Registered Email Addresses </h1>


<ul>
{% for each in mailinglist %}
<li>{{ each }}</li>
{% else %}
<li>Mailing list is empty</li>
{% endfor %}

<form action="/addemail" method="post">
  <input type="email" name="newemail">
    <select name = "scope">
      <option value="all">all</option>
      <option value="freezer">freezers</option>
      <option value="vivarium">vivarium</option>
    </select>
  <input type="submit" value="Add">
</form>

<form action="/deletemail" method="post"><br>
  <input type="email" name="deleteemail" placeholder="type email to delete">
  <input type="submit" value="delete">
</form>

</ul>

<h2>Registered Phone Numbers </h1>

<ul>
{% for each in phonenumbers %}
<li>{{ each }}</li>
{% else %}
<li>No phone numbers</li>
{% endfor %}

<form action="/addphone" method="post">
  <input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" placeholder="XXX-XXX-XXXX" name="newphone">
  <select name = "scope">
    <option value="all">all</option>
    <option value="freezer">freezers</option>
    <option value="vivarium">vivarium</option>
  </select>
  <input type="submit" value="Add">
</form>

</ul>
</div>
</html>
