<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<title>Frosti</title>

<div class="logo">
    <h3><pre>
      __________  ____  ____________
      / ____/ __ \/ __ \/ ___/_  __(_)
    / /_  / /_/ / / / /\__ \ / / / /
  / __/ / _, _/ /_/ /___/ // / / /
/_/   /_/ |_|\____//____//_/ /_/
   </pre>
</h3>
</div>

<span class="center">
     <p>
     <table border="0" cellpadding="0" cellspacing="0">
<tr>
<td><a class="navbar" href="/"><strong>User Management</strong></a></td>
<td><a class="navbar" href="/graphs"><strong>Graphs</strong></a></td>
<td><a class="navbar" href="/logout"><strong>Logout</strong></a></td>
</tr>

</table>

     </p>
   </span>

<body>
<div class="center-justified">
<h2>Registered Email Addresses </h1>

<ul>
{% for each in mailinglist %}
<li>{{ each }}</li>
{% else %}
<li>Mailing list is empty</li>
{% endfor %}

<form action="/addemail" method="post">
  <input type="email" name="newemail">
    <select name = "scope">
      <option value="all">all</option>
      <option value="freezer">freezers</option>
      <option value="vivarium">vivarium</option>
    </select>
  <input type="submit" value="Add">
</form>

<form action="/deletemail" method="post"><br>
  <input type="email" name="deleteemail" placeholder="type email to delete">
  <input type="submit" value="delete">
</form>

</ul>

<h2>Registered Phone Numbers </h1>

<div class="center-justified">
  <ul id="phonenumbers">
  <!--<h3 id="loadingmessage">
    Loading...
  </h3>-->
</div>


{% for each in phonenumbers %}
<li>{{ each }}</li>
{% else %}
<li>No phone numbers</li>
{% endfor %}
</ul>

<form action="/addphone" method="post">
  <input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" placeholder="XXX-XXX-XXXX" name="newphone">
  <select name = "scope">
    <option value="all">all</option>
    <option value="freezer">freezers</option>
    <option value="vivarium">vivarium</option>
  </select>
  <input type="submit" value="Add">
</form>

<form action="/deletephone" method="post"><br>
  <input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" placeholder="type phone number to delete" name="deletephone">
  <input type="submit" value="delete">
</form>
<form action="https://www.twilio.com/console/phone-numbers/verified" method="post"><br>
  <input type="submit" value="Register Phones at Twilio">
</form>
</div>
<!--
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for('sstream') }}');
    xhr.send();
    var timer;
    timer = setInterval(function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            $( "#loadingmessage" ).remove();
            var phonenumbers = xhr.responseText.split(',');
            for(var i = 0;i<phonenumbers.length-1;i++){
              var phone = $("<li></li>").text(phonenumbers[i]);
              $("#phonenumbers").append(phone);
            }
            clearInterval(timer);
        }
    }, 300);
-->
</script>
</body>
</html>
