<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<title>Frosti</title>

<div class="logo">
    <h3><pre>
      __________  ____  ____________
      / ____/ __ \/ __ \/ ___/_  __(_)
    / /_  / /_/ / / / /\__ \ / / / /
  / __/ / _, _/ /_/ /___/ // / / /
/_/   /_/ |_|\____//____//_/ /_/
   </pre>
</h3>
</div>


<div class="container">
  <p>
    <form style="font-size:large;font-family:monospace" action="/login" method="post">
      <input type="text" name="username" placeholder="username"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="checkbox" name="rememberme">Remember Me<br>
      <input type="submit" value="Login">
    </form>
  </p>
</div>


</html>
